





/* COMMON */
html{
    font-size: 100%;
}

img{
    max-width: 100%;
}


/* HEADER */
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

header img{
    height: 15px;
}

header nav img{
    height: 35px;
}

/* MAIN */
.wrapper{
    margin-top: 7rem;
}

/* Jumbotron */

#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;

        /* debug */
        height: 300px;
        color:white;
}

#jumbotron img{
    height: 40px;
}

/* Secondary jumbotron */
.ms_sec_jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;

        /* debug */
        height: 500px;
        color:white;
}

.ms_sec_jumbo img{
    height: 150px;
}

/* Explore PS4 */
@media screen and (min-width:768px){
  .ms_small_box {
        margin: auto;
        width: 60%;
    }  
}

/* Playstation Plus */
#ps_plus{
    background-color: gray;
}
