
:root{
    /* palette */
    --ms_black_text: black;
    --ms_bg_plus: #BEBCBB;
    --ms_bg_now: #161C3B;
    --ms_orng_btn:#CD3D0F;
    --ms_bg_footer:#00439C;
    --ms_brd_rad20: 20px;
}

/* Utility */
.ms_orng_btn{
    background-color: var(--ms_orng_btn);
}

.ms_bg_plus{
    background-color: var(--ms_bg_plus);
}

.ms_bg_now{
    background-color: var(--ms_bg_now);
}

.ms_bg_footer{
    background-color: var(--ms_bg_footer);
}

.ms_brd_rad20{
    border-radius:var(--ms_brd_rad20);
}

.ms_clean{
    text-decoration: none;
    color: inherit;
}


/* COMMON */
html{
    font-size: 100%;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}


/* HEADER */
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

header .ms_banner img{
    height: 15px;
}

header .navbar-brand img{
    height: 35px;
}

ul a>img{
    height: 8px;
}

.ms_lens img{
    height: 20px;
}

.nav-link {
    color: var(--ms_black_text);
}


/* MAIN */
.wrapper{
    margin-top: 7rem;
}

/* Jumbotron */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    min-height: 400px;
}

#jumbotron img{
    height: 40px;
}

/* Newgames  */
.card{
    border: 0;
}

/* Playstation 5 */
#playstation5 h6{
    font-size: 0.8rem;
    margin-bottom: 0;
}

#playstation5 .card>img{
    width: 90px;
}

#playstation5 .ms_ps5{
    max-height: 500px;
}

#playstation5 .card:not(.ms_active)>img{
    filter:opacity(0.5)
}

.ms_active{
    border-bottom: 2px #2586D5 solid;
    border-radius: 0;
}

#playstation5  .card:hover{
    border-bottom: 2px #2586D5 solid;
    border-radius: 0;
}

#playstation5  .card:hover img{
    filter:opacity(1)
}

@media screen and (min-width:768px){
    .ms_min-h05{
        min-height: 5.5rem;
    }
}

/* Secondary jumbotron */
.ms_sec_jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
}

.ms_sec_jumbo img{
    max-height: 230px;
}

.ms_sj_selection .card{
    background-color: transparent;
}

.ms_sj_selection .card img{
    border-radius: var(--ms_brd_rad20);
}

.ms_sj_selection .card-body{
    padding: 0.5rem 0 1rem 0;
}

.ms_sj_selection .card-body h6{
    font-size: 0.9rem;
}

/* Explore PS4 */
@media screen and (min-width:768px){
  .ms_small_box {
        margin: auto;
        width: 60%;
    }  
}

/* Playstation Plus */
#ps_plus .ms_logo_psplus,
#ps_now .ms_logo_now
{
    max-width: 290px;
}

  /* FOOTER */
footer{
    color: white;
}

.ms_tp_foot img{
    height: 70px;
}

.ms_bt_foot img{
    height: 50px;
}

.ms_language img{
    height: 15px;
    vertical-align: middle;
}